[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
coreapi = "*"
pygments = "*"
markdown = "*"
drf-yasg = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
pyyaml = "*"
httprunner = "==1.5.8"

[requires]
python_version = "3.8"
